<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @game.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<p>
<td><img src="<%= @game.image_url %>" class="img-rounded"/></td>

</p>
<button class="btn" onclick="purchased_button_clicked(<%= current_user.id %>, <%= @game.id %>)" id="purchased_button">
  <span class="glyphicon glyphicon-cart <% if @game.user_purchased?(current_user.id) %> active <% else %>-empty <% end %>" id="like_button_icon"></span>
</button>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>


